.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.headerContainer {
  background-color: red;
  width: 100%;
  padding: 10px;
  margin: 10px;
  display: flex;
}
.logo {
  background-color: blue;
}
.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  background-color: yellow;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: red;
  padding: 10px;
  margin: 10px;
}
.mainLeft {
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  min-width: 200px;
  flex: 2;
}
.mainImage {
  background-color: yellow;
  width: 100%;
}
.mainLeftL {
  background-color: green;
  width: 50%;
}

.mainLeftR {
  background-color: grey;
  width: 50%;
}

.side {
  background-color: orange;
  flex: 1;
  min-width: 200px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.content {
  flex: 1;
  background-color: orange;
  margin: 5px;
}

@media screen and (max-width: 480px) {
  .menu {
    display: none;
  }
  .mainLeftL {
    width: 100%;
  }

  .mainLeftR {
    width: 100%;
  }
  .side {
    width: 100%;
  }
}
